<!DOCTYPE html>
<html lang="en">
  <% include ../head %>
  <body>
    <% var active = "vehicles"; %>
    <% include ../nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="vehicles">
        <h2><%= title %></h2>
        <ul class="results">
          <!-- "id", "name", "cost_per_launch","success_rate_pct","first_flight", "active", "description" -->
          <li class="result">
            <form class="form" action="/vehicles/<%= vehicle.id %>?_method=<%= method %>" method="post">   
              <label for="name">Name</label>
              <input id="name" type="text" placeholder="Enter spacecraft name" name="name" value="<%= vehicle.name %>" required>

              <label for="cost_per_launch">Cost Per Launch ($)</label>
              <input id="cost_per_launch" type="text" placeholder="Enter in dollars" name="cost_per_launch" value="<%= vehicle.cost_per_launch %>">
              
              <label for="success_rate_pct">Success Rate (%)</label>
              <input id="success_rate_pct" type="text" placeholder="Enter in percent" name="success_rate_pct" value="<%= vehicle.success_rate_pct %>">

              <label for="first_flight">First Flight</label>
              <input id="first_flight" type="text" placeholder="YYYY-MM-DD" name="first_flight" value="<%= vehicle.first_flight %>">

              <label for="active">Active</label>
              <input id="active" type="text" placeholder="True/False" name="active" value="<%= vehicle.active %>">

              <label for="description">Description</label>
              <textarea id="description" name="description" placeholder="Enter a description" rows="8"><%= vehicle.description %></textarea>
              <button type="submit" class="btn">Submit</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <% include ../footer %>
    <% include ../script %>
  </body>
</html>
