<!DOCTYPE html>
<html lang="en">
  <% include ../head %>
  <body>
    <% var active = "vehicles"; %>
    <% include ../nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="vehicles">
		<h2>Edit a vehicle</h2>
		<ul class="results">
		<!-- "id", "name", "cost_per_launch","success_rate_pct","first_flight", "active", "description" -->
		<li id=edit class="result">
		  <form class="form" action="/vehicles/<%= vehicle.id %>?_method=<%= method %>" method="post">   
			<p>
				<label>Name:</label>
				<input id="name" type="text" placeholder="Enter spacecraft name" name="name" value="<%= vehicle.name %>">
			</p>
			<p>
			    <label>Cost per launch:</label>
				<input id="cost_per_launch" type="text" placeholder="Enter in dollars" name="cost_per_launch" value="<%= vehicle.cost_per_launch %>">
			</p>
			<p>
				<label>Success rate:</label>
				<input id="success_rate_pct" type="text" placeholder="Enter in percent" name="success_rate_pct" value="<%= vehicle.success_rate_pct %>">
			</p>
			<p>
				<label>First Flight:</label>
				<input id="first_flight" type="text" placeholder="YYYY-MM-DD" name="first_flight" value="<%= vehicle.first_flight %>">
			</p>
			<p>
				<label>Active:</label>
				<input id="active" type="text" placeholder="True/False" name="active" value="<%= vehicle.active %>">
			</p>
			<p>
				<label>Description:</label>
				<input id="description" type="text" placeholder="Enter a description" name="description" value="<%= vehicle.description %>">
			</p>
			<input type="submit" value="Submit" class="btn btn-default">
		  </form>
		 </li>
		</ul>
      </div>
    </div>
    <% include ../footer %>
    <% include ../script %>
  </body>
</html>