<!DOCTYPE html>
<html lang="en">
  <% include ../head %>
  <body>
    <% var active = "vehicles"; %>
    <% include ../nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="vehicles">
        <h2><%= title %></h2>
        <ul class="results">
          <% data.forEach((elem, i) => { %>
            <li id=<%= elem.id %> class="result">
              <h3><%= elem.name %></h3>
              <p><%= elem.description %></p>
              <ul>
                <li>Active: <%= printProperty(elem, 'active', '', '') %></li>
                <li>First Flight: <%= printProperty(elem, 'first_flight', '', '') %></li>
                <li>Cost Per Launch: <%= printProperty(elem, 'cost_per_launch', '$', '') %></li>
                <li>Success Rate: <%= printProperty(elem, 'success_rate_pct', '', '%') %></li>
              </ul>
              <p><a href=<%= "/launches?vehicle=" + elem.id %>>Launches</a></p>
              <% if (isLoggedIn) { %>
                <form action=<%= "/vehicles/" + elem.id + "?_method=DELETE" %> method="POST">
                  <a href=<%= "/vehicles/" + elem.id + "/edit" %> class="btn"><i class="material-icons">edit</i></a>
                  <button class="btn"><i class="material-icons">delete</i></button>
                </form>
              <% } %>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% if (isLoggedIn) { %>
      <a href="/vehicles/create" class="btn btn-float"><i class="material-icons">add</i></a>
    <% } %>
    <% include ../footer %>
    <% include ../script %>
  </body>
</html>
