<!DOCTYPE html>
<html lang="en">
  <% include ../head %>
  <body>
    <% var active = "launches"; %>
    <% include ../nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="launches">
		<% if (isLoggedIn) { %>
			<td>
				<a href="/launches/edit/" class="btn btn-default">Add New Launch</a>
			</td>
		<% } %>
        <h2><%= title %></h2>
        <ul class="results">
          <% data.forEach((elem, i) => { %>
            <li id=<%= elem.flight_number %> class="result">
              <td>
                <a href="/launches/edit/<%= elem.flight_number %>" class="btn btn-default">Edit</a>
              </td>
              <td>
                <form action="/launches/<%= elem.flight_number %>?_method=DELETE" method="POST">
                <button class="btn btn-default">Delete</button>
              </form>
             </td>
              <h3>Launch #<%= elem.flight_number %></h3>
              <p><%= elem.details %></p>
              <ul>
                <li>Vehicle: <a href=<%= "/vehicles/" + elem.rocket.rocket_id %>><%= elem.rocket.rocket_name %></a></li>
                <li>Launchpad: <a href=<%= "/launchpads/" + elem.launch_site.site_id %>><%= elem.launch_site.site_name_long %></a></li>
                <li>Date: <%= new Date(elem.launch_date_local).toDateString().slice(4) %></li>
                <li>Success: <%= printProperty(elem, 'launch_success', '', '') %></li>
              </ul>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% include ../footer %>
    <% include ../script %>
  </body>
</html>
