<!DOCTYPE html>
<html lang="en">
  <% include ../head %>
  <body>
    <% var active = "launches"; %>
    <% include ../nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="launches">
        <h2><%= title %></h2>
        <ul class="results">
          <% data.forEach((elem, i) => { %>
            <li id=<%= elem.flight_number %> class="result">
              <h3>Launch #<%= elem.flight_number %></h3>
              <p><%= elem.details %></p>
              <ul>
                <li>Vehicle: <a href=<%= "/vehicles/" + elem.rocket.rocket_id %>><%= elem.rocket.rocket_name %></a></li>
                <li>Launchpad: <a href=<%= "/launchpads/" + elem.launch_site.site_id %>><%= elem.launch_site.site_name_long %></a></li>
                <li>Date: <%= new Date(elem.launch_date_local).toDateString() %></li>
                <li>Success: <%= printProperty(elem, 'launch_success', '', '') %></li>
              </ul>
              <% if (isLoggedIn) { %>
                <form action=<%= "/launches/" + elem.flight_number + "?_method=DELETE" %> method="POST">
                  <a href=<%= "/launches/" + elem.flight_number + "/edit" %> class="btn"><i class="material-icons">edit</i></a>
                  <button class="btn"><i class="material-icons">delete</i></button>
                </form>
              <% } %>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% if (isLoggedIn) { %>
      <a href="/launches/create" class="btn btn-float"><i class="material-icons">add</i></a>
    <% } %>

    <% include ../footer %>
    <% include ../script %>
  </body>
</html>
